<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../styles/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <form action="" class="login">
            <p class="title">Iniciar Sesion</p>
            <label for="">Correo Electronico</label><br>
            <input type="text" name="mail" required><br>

            <label for="">Contraseña</label><br>
            <input type="password" name="passwd" required><br>
            
            <input type="submit" value="Confirmar"><br>
    
            <label>¿No tiene una cuenta? <a href="../templates/registration.html">Registrarse</a></label>
        </form>
    </div>
</body>
</html>