<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
</head>
<body>
    <div class="perfil-container">
        <div class="title-perfil">
            <h1>Perfil</h1>
            <a href="">Cerrar</a>
        </div>
        <div class="head-perfil">
            <div class="img-perfil">
                <img src="../images/perfil.png" alt="">
            </div>
            <div class="info-perfil">
                <h2>Nombre de usuario</h2>
                <p>Nombre</p>
                <p>Apellido</p>
                <p>Correo</p>
                <p>Fecha de nacimiento</p>
            </div>
        </div>
        <div class="divisor"></div>

        <div class="change-password">
            <button type="button">Cambiar contraseña</button>
        </div>

    </div>
    

    <script src="../scripts/perfil.js"></script>
</body>
</html>