<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="../styles/registration.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <form action="" class="registration">
            <p class="title">Crear una cuenta</p>
            <label>Correo Electronico</label><br>
            <input type="text"><br>
            <label for="">Nombre de usuario</label><br>
            <input type="text"><br>
            <label for="">Nombre</label><br>
            <input type="text"><br>
            <label for="">Apellido</label><br>
            <input type="text"><br>
            <label for="">Contraseña</label><br>
            <input type="password"><br>
            <label for="">Fecha de nacimiento</label><br>
            <input type="date"><br>
            <input type="submit" value="Confirmar">
        </form>
    </div>
</body>
</html>