<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="../styles/server.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <div class="section1">
            <div class="button-container">
                <button class="button">Añadir Servidor</button>
                <button class="button">Explorar</button>
            </div>
            <button class="button2">Usuario</button>
        </div>
        <div class="section2">
            <!-- Contenido de la segunda sección -->
        </div>
        <div class="section2">
            <!-- Contenido de la segunda sección -->
        </div>
        <div class="section2">
            <!-- Contenido de la segunda sección -->
        </div>
    </div>
</body>
</html>