.wrapper{
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 10% auto;
    grid-template-areas: 
    "sidebar content";
    text-align: center;
    margin: 10 auto;
    height: 95vh;
}

.sidebar{
    background-color: #355571;
    align-items: center;
}

.sidebar > img{
    display: flex;
    width: 30%;
    max-width: 100px;
    min-width: 60px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.content{
    background-color: #355571;
    height: auto;
    padding: 10px;
}
