body{
    background-color: #355571;
    font-family: "Roboto", sans-serif;
}

input{
    display: block;
    width: 80%;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

label{
    margin-left: 30px;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

.registration{
    border-radius: 5px 5px 5px 5px;
    padding: 10px 20px 20px 20px;
    width: 90%;
    max-width: 320px;
    color: white;
    background: purple;
    position: relative;
    padding-bottom: 50px;
    box-shadow: 0px 1px 5px black;
    background-image: url('../assets/portada.png');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
}

.title{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5);
}

.btn-submit{
    background-color: #982ee9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.btn-submit:hover {
    background-color: #fff;
    color: #982ee9;
}